.card-mascota {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 350px;
    padding: 1.5em;
    border: 1px solid $border-color;
    border-radius: 10px;
    margin: 0 auto;

    @include from(s) {
        width: 250px;
    }

    @include from(m) {
        width: 350px;
    }

    @include from(l) {
        width: 400px;
    }

    @include from(xl) {
        width: 350px;
    }

    &__image {
        border: none;
        border-radius: 10px;
        height: 200px;

        @include from(s) {
            height: 140px;
        }

        @include from(m) {
            height: 180px;
        }

        @include from(l) {
            height: 200px;
        }
    }

    &__info {
        color: $black-color;
        display: flex;
        flex-direction: column;
        gap: .5em;
    }
}