@import "../config/mixins";
@import "../config/variables";
@import "../base/base";


.main-header {
  button {
    background-color: $tertiary-color;
    color: $secondary-color;
    border: none;
    border-radius: 5px;
    padding: .75em 1.5em;
    font-weight: bold;
    cursor: pointer;
  }

  .container {
    background-color: $primary-color;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 1.25em;
  }

  .first {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  &__logo {
    display: flex;
    align-items: center;
    gap: .5em;

    span {
      color: #FFFFFF;
      font-weight: bold;
    }
  }

  &__menu {
    display: none;
    gap: 2em;
    
    &.hidden {
      display: flex;
      background-color: $secondary-color;
      justify-content: space-around;
      gap: 0;
      margin: 0;
      padding: 1em 0;
    }

    @include from(m) {
      display: flex;

      &.hidden {
        display: none;
        background-color: $secondary-color;
        justify-content: space-around;
        gap: 0;
        margin: 0;
        padding: 1em 0;
      }
    }

  }

  &__link {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
