.registro {
    background-color: #F3F4F6;
    padding: 3rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include from(m) {
        padding: 2rem;
    }
    
    &__content {
        background-color: $white-color;
        width: 800px;
        display: flex;
        flex-direction: column;
        border: 1px solid $primary-color;
        box-shadow: 7.5px 7.5px 5px #cecece;
        border-radius: 10px;
    }

    &__header {
        background-color: $primary-color;
        border-radius: 10px 10px 0 0;
    }

    &__title {
        color: $white-color
    }

    &__description {
        color: #A7FBF1;
    }
}